body{
    background-color:white;
    
}
.container{
    background-color: darkcyan;
    height: 100%;
    text-align:center;
    
}

#table-contain{
    background-color: darkorange;
    text-align: center;
    position: center;
    
}

.delete-btn{
    background: red;
    color:#fff;
    border: 0;
    padding: 4px ,10px;
    border-radius: 3px;
}

.edit-btn{
    background: green;
    color:#fff;
    border: 0;
    padding: 4px ,10px;
    border-radius: 3px;
}

#modal{
    background:rgba(0,0,0,0,7);
    position:fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}

#modal-form{
    background:white;
    width: 40%;
    position: relative;
    top: 20%;
    left: calc(50%-20%);
    padding: 15px;
    border-radius: 4px;
    border: 1px solid black;
    position: center;

}

#close-btn{
    background: red;
    color: white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top:-15px;
    right: -15px;
    cursor: pointer;
}